<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpHandlers>
      <add verb="*" path="*js.axd" type="ScriptCompressorHandler"/>
      <add verb="*" path="*.aspx" type="System.Web.UI.PageHandlerFactory"/>
    </httpHandlers>
    <httpRuntime targetFramework="4.5" executionTimeout="9999" maxRequestLength="2097151" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="false" requestValidationMode="2.0" />
    <customErrors mode="On" defaultRedirect="~/ErrorPages/Error.aspx" redirectMode="ResponseRewrite"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="AjaxControlToolkit, Version=3.0.30512.17815, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="cc1" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit, Version=3.0.30512.17815, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e"/>
      </controls>
    </pages>
    <httpModules>
      <add type="ScriptCompressorModule" name="ScriptCompressorModule" />
      <remove name="WindowsAuthentication"/>
      <remove name="PassportAuthentication"/>
      <remove name="AnonymousIdentification"/>
      <remove name="UrlAuthorization"/>
      <remove name="FileAuthorization"/>
    </httpModules>
    <globalization culture="en-IN" enableClientBasedCulture="true" uiCulture="en-IN"/>
    <sessionState mode="InProc" timeout="60"/>
    <trace enabled="false" pageOutput="false"/>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="DynamicRewrite" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_FILENAME}.aspx" matchType="IsFile"/>
          </conditions>
          <action type="Rewrite" url="/{R:1}.aspx"/>
        </rule>
      </rules>
    </rewrite>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <!--<add type="ScriptCompressorModule" name="ScriptCompressorModule" />-->
    </modules>
    <handlers>
      <remove name="ChartImageHandler"/>
    </handlers>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00"/>
      <mimeMap fileExtension=".*" mimeType="application/octet-stream"/>
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <remove name="Vary"/>
        <add name="Vary" value="Accept-Encoding"/>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS"/>
        <add name="Access-Control-Allow-Credentials" value="true"/>
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100"/>
    </connectionManagement>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>